@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');


body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

main h1 {
  margin: 1rem 0;
  font-weight: 700;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 5rem;
}

.small-container {
  max-width: 600px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.product img {
  width: 100%;
  max-width: 400px;
}

.btn-primary {
  background-color: #f0c040;
  color: #fff;
  border: none;
}

.rating span {
  color: #ffc000;
}

